---
import { ViewTransitions, fade } from "astro:transitions"
import Header from "../components/Header.astro"
import "../styles/globals.css"

interface Props {
  title: string
  description: string
  class?: string
}

const { title, description, class: clazz } = Astro.props

const image = new URL(
    `https://image.luxass.dev/api/image/text?input=${encodeURIComponent(
      JSON.stringify({
        width: 300,
        height: 300,
      }),
    )}`,
);
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <ViewTransitions transition:animate={fade({ duration: "0.2s" })} />

    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={Astro.url} />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS" />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="keywords" content="lucas nørgård, luxass, nørgård, lucas, fullstack, projects, backend, frontend, web developer, website" />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="projectrc.luxass.dev" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- links -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="preload" href="/fonts/dm-sans.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  </head>
  <body>
    <Header transition:animate="none" />
    <main class="prose flex-1 p-4 max-w-none" class:list={clazz} transition:animate="slide">
      <slot />
    </main>
  </body>
</html>
